[commands]                                                                                                                                                                                                         
                                                                                                                                     
update_cmd = {{ update_cmd }}                                                                                                                                                                                               
                                                                                                                                                                                                                                                                                                                                                                                                      
update_messages = {{ update_messages }}                                                                                                                                                                                              
                                                                                                                                                                                                                   
                                                                                                                                                   
download_updates = {{ download_updates }}                                                                                                                                                                                             
                                                                                                                                                                                                                   
                                                                                                                                            
apply_updates = {{ apply_updates }}                                                                                                                                                                                                 
                                                                                                                                                                                                                   
                                                                                                                                                                                                      
random_sleep = {{ random_sleep }}                                                                                                                                                                                                 
                                                                                                                                                                                                                   
                                                                                                                                                                                                                   
[emitters]                                                                                                                                                                                                                                                                                                                                                                          
system_name = {{ system_name }}


emit_via = {{ emit_via }}

output_width = {{ output_width }}


[email]
email_from = {{ email_from }}

email_to = {{ email_to }}

email_host = {{ email_host }}


[groups]
group_list = {{ group_list }}

group_package_types = {{ group_package_types }}

[base]
debuglevel = {{ debuglevel }}

mdpolicy = {{ mdpolicy }}

skip_broken = {{ skip_broken }}

assumeyes = {{ assumeyes }}
